<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>

    <!--Browser Information-->
    <add key="Browser" value="CHROME"/>

    <!--Environments URLs-->
    <add key="url" value="http://www.youtube.com"/>
    
    <!--Environments Credentials-->
    <add key="username" value="autouser654@gmail.com"/>
    <add key="password" value="ZAXSCDVF"/>
    
  </appSettings>
  
</configuration>

